@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
 @import"base/slick";
 @import"base/buttons";
 @import "blocks/firstWindown";
 @import"blocks/advantages";
 @import"blocks/work";
 @import"blocks/price";
 @import"blocks/management";
 @import"blocks/reviews";
 @import"blocks/carousel";
 @import"blocks/question";
 @import"blocks/footer";