.questions{
    background: url("../img/questionBg.png") no-repeat 50%/cover;
    
    height: 500px;
    &__form{
        margin: 0 auto;
        padding-top: 80px;
        width: 1100px;
       
        &__header{
            height: 90px;
            background-color:#25333c;
            &-title{
                color:white;
                font-size: 19px;
                font-weight: 700;
                text-align: center;
                padding-top: 15px;
            }
            &-subtitle{
                color: white;
                font-size: 14px;
                text-align: center;
                margin-top: 5px;
            }
        }

        &__main{
            background-color:#bec0c2;
            display: block;
            margin: 0 auto;
            height: 290px;
            &-wrapper{
                display: flex;
                justify-content: space-between;
                width: 795px;
                margin: 0 auto;
                
            }
            &-inputText{
                display: block;
                margin: 0 auto;
                margin-top: 30px;
                resize: none;
                
            }
            &-inputName{
                  margin-top: 20px;
                  width: 250px;
            }
            &-inputPhone{
                   margin-top: 20px;
                   width: 250px;
            }
            &-inputEmail{
                   margin-top: 20px;
                   width: 250px;
            }
            &-btn{
               display: block;
               margin: 0 auto;
               margin-top: 20px;
             
            }
        }
        #name-error {
            color: red;
            font-size: 10px;
            position: absolute;
            left: 31%;
        }
        
        /* Стилизация сообщения об ошибке для элемента с id "phone-error" */
        #phone-error {
            color: blue;
            font-size: 10px;
            position: absolute;
            left: 44%;
        }
        
        /* Стилизация сообщения об ошибке для элемента с id "email-error" */
        #email-error {
            color: green;
            font-size: 10px;
            position: absolute;
            left: 60%;
        }
    }
}
.input{
    border-radius: 20px;
    height: 50px;
    border: 1px solid #a8a8a7;
    padding: 0 25px;
}
.text{
    border: 1px solid #a8a8a7;
    border-radius: 20px;
    padding: 15px 25px;
    
}